h1 {
	text-align:center;
	color: black;
	font-size: 75px;
}
h2 {
	text-align:center;
	color: black;
	font-size: 50px;
}
h3 {
	text-align:center;
	color: black;
	font-size: 50px;
}
h4{
	font-size: 30px;
}
h5 {
	text-align:center;
	color: black;
	font-size: 50px;
	
}
#para1{
	text-align: center;
	font-size: 20px;
}
#para2{
	text-align: center;
	background-color: lightgrey;
  	border: 15px solid green;	
}
#para3{
	text-align: center;
	font-size: 20px;
}
#para4{
	font-size: 20px;
}
#para5{
	font-size: 25px;
	text-align: center;
}
div {
  background-color: lightgrey;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

